<div class="home-main" ng-show="languageChoice.isEnglish">
	<div class="home-content">
		<div class="home-picture"></div>
		<div class="home-explanation">
			<p class="home-intro-paragraph">Hi. My name is Bill. I'm a software developer from Colorado, USA.<p>
			<p class="home-intro-paragraph">Check out my <span ng-click="toProjects()">projects page</span>!</p>
		</div>
	</div>
</div>

<div class="home-main" ng-show="languageChoice.isJapanese">
	<div class="home-content">
		<div class="home-picture"></div>
		<div class="home-explanation">
			<p class="home-intro-paragraph">初めまして。ビリーというアメリカのコロラド出身のソフトウェアエンジニアです。<p>
			<p class="home-intro-paragraph"><span ng-click="toProjects()">プロジェクトのページへ</span></p>
		</div>
	</div>
</div>