<div class="home-main" ng-show="languageChoice.isEnglish">
	<div class="home-content">
		<div class="home-picture"></div>
		<div class="home-explanation">
			<p class="home-intro-paragraph">Hi. My name is Bill. I'm a software developer from Colorado, USA. I like Twinkies.<p>
		</div>
	</div>
</div>

<div class="home-main" ng-show="languageChoice.isJapanese">
	<div class="home-content">
		<div class="home-picture"></div>
		<div class="home-explanation">
			<p class="home-intro-paragraph">初めまして。ビリーというTwinkiesが好きなコロラド出身のソフトウェアエンジニアです。<p>
		</div>
	</div>
</div>