<h1 ng-show="languageChoice.isEnglish">Projects</h1>
<h1 ng-show="languageChoice.isJapanese">プロジェクト</h1>

<a target="_blank" ng-href="{{url.calculatorApp}}" ng-click="openCalcApp()"><img src="images/calc.PNG" /></a>
<a target="_blank" ng-href="{{url.calculatorCode}}" ng-click="openCalcCode()">See code</a>

<a target="_blank" ng-href="{{url.plotGenApp}}" ng-click="openPlotGeneratorApp()"><img src="images/plotGenPic.PNG" /></a>
<a target="_blank" ng-href="{{url.plotGenCode}}" ng-click="openPlotGeneratorCode()">See code</a>